*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --BG-color: #2C2B3D;

  --span-color: #00BFA6;
  --FC-primary: #ffff;
  --FC-secondary: #C2C2C2;
  --FC-bold:  #7D7987;

  --FF-primary: "JetBrains Mono";
  --FF-secondary: 'Open Sans';

  font-size: 62.5%;
}

body{
  background-color: var(--BG-color);
  color: var(--FC-primary);
  font-size: 1.6rem;
  font-family: var(--FF-primary);

}
.page{
  max-width: 108rem;

  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;

}

nav{
  display: flex;
  justify-content:space-between;
  align-content: center;
  margin-bottom: 10rem;

}

a {
  text-decoration: none;
  color: var(--FC-primary);
  font-weight: 500;
  font-size: 1.4rem;
}

nav a:hover{
  color: rgb(81, 76, 76);
}

ul{
  display: flex;
  gap: 6.4rem;
  list-style: none;
}

main {
  display: flex;
  max-width: 109rem;
  gap: 5rem;
}

main img{
  width: fit-content;
}

section h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 6rem;
}
section span {
  color: var(--span-color);
  font-weight: 700;
}

section p {
  text-align: center;
  font-family: var(--FF-secondary);
  color: var(--FC-secondary);
  width: 59rem;

}

#line{
  width: 57rem;
  border: solid 1px var(--span-color);
  margin: 15.7rem auto 2.7rem;
  
}

footer p{
  width: 46.5rem;
  font-size: 1.4rem;
  margin: 0 auto;
  text-justify: center;
}

#padlock {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}

@media (max-width:700px) {
  main{
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  }
}